// Partials imports
@import 'reset/normalize';

// // Variables
// $base-font-size: 16px;

/* ====================================================== */
/* === Base Styles                                    === */
/* ====================================================== */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    font-size: $base-font-size;
}

/* ====================================================== */
/* === Header                                         === */
/* ====================================================== */

header {
    display: flex;
    width: 100%;
}

/* ====================================================== */
/* === Layout                                         === */
/* ====================================================== */

.container {
    width: 90vw;
    max-width: 1000px;
    margin: 5vw;
}